.bookingform {
  display: flex;
}

th {
  width: 1px;
  white-space: nowrap;
  text-align: left;
}

input {
  width: 150px;
  text-align: left;
}

select {
  width: 100%
}

.submit {
  width: 150px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
