.wrapper {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: end;
    grid-auto-rows: 250px;
    grid-column: 10% ;
    border-width: 75%;
    background-color: #EDF5E1 ;


  }
  .table1 {
      background-color: rgb(216, 213, 218);
      border: 1px solid black;
      align-self: stretch;
      padding: 100px;
      margin-right: 100px;
      margin-left: 75px ;
      margin-top: 30px;
      margin-bottom: 40px;
      border-radius: 25px;
      /* padding: 80px */
  }
  .table2 {
    background-color: rgb(216, 213, 218);
      border: 1px solid black;
      align-self: stretch;
      margin-top: 30px;
      margin-right: 100px;
      margin-bottom: 100px;
      margin-left: 50px;
      padding: 40px;
      text-align: center;
      border-radius: 25px;
  }
  .table3 {
    background-color: rgb(216, 213, 218);
      border: 1px solid black;
      align-self: stretch;
      margin-right: 100px;
      margin-top: 30px;
      padding: 80px;
      text-align: center;
      border-radius: 25px;

  }
  .table4 {
    background-color: rgb(216, 213, 218);
    border: 1px solid black;
    align-self: stretch;
    margin-right: 100px;
      margin-left: 100px ;
      margin-top: 30px;
      margin-bottom: 40px;
      padding: 80px;
      text-align: center;
      border-radius: 25px;
  }
  .table5 {
    background-color: rgb(216, 213, 218));
    border: 1px solid black;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    position: relative;
    margin-right: 100px;
    margin-bottom: 75px;
    margin-top: 30px;
    margin-left: 50px;
    align-self: stretch;
    padding: 75px;
    text-align: center;
    border-radius: 25px;
  }

  .tableHead {
    font-size: 100%;
    font-weight: bold;
  }

  .subHead {

    font-size:100;
    font-weight: normal;
  }


    button, input, select, textarea {
      font-family : inherit;
      font-size   : 100%;
      width : 175px;
      margin: 0;
      box-sizing: border-box;
      margin:5px;
    }

    input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
