
.left {
    float: left;
    background-color: #8EE4AF;
    height: 420px;
    width: 20%;
    
}
h1 {
    background-color: #05386B;
    color: rgb(216, 213, 218);
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 15px;
    font-family: 'Cinzel', serif;
}

