.container {
  display: flex;
}

 div {
  border: black solid 1px;
  /* padding: 10px; */
} 

span {
  border: blue dashed 1px;
  /* padding: 10px; */
}

span .right {
  flex-grow: 20;
}

ul {
  padding-inline-start: 0px;
}

